/************************************************************* General ********************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    padding-top: 0.5em;
}

/************************************************************* Body ********************************************************/

body {
    background-color: #f8db27;
}

/************************************************************* Wrapper ********************************************************/

#wrapper {
    width: 80%;
    margin: auto;
}

/************************************************************* Header ********************************************************/

header {
    background-color: #4f7ee2;
    color: #ffffff;
}

header h2 {
    color: #ffffff;
    padding: 0.5em;
    text-align: center;
}

header figure img {
    width: 100%;
    margin: auto;
    vertical-align: top;
}

/************************************************************* Main ********************************************************/

main {
    background-color: #ffffff;
    padding: 3em 1.5em 3em 1.5em;
    display: flex;
    flex-direction: row;
}

/*                                                             Navbar                                                          */

nav {
    background-color: 	#4f7ee2;
    width: 15%;
    height: 20%;
    padding: 1em;
}

nav li {
    list-style: none;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
}

/*                                                             Article                                                          */

article {
    width: 50%;
    padding: 1em;

}

h1 {
    color: #f8db27;
    font-size: larger;
    
}

/*                                                             Aside                                                          */

aside {
    background-color: 	#4f7ee2;
    width: 25%;
    text-align: justify;
}

aside figure {
    color: #ffffff;
    padding: 1em;
    text-align: center;
}

aside figure img {
    width: 100%;
    border: 0.2em solid #ffffff;
}

aside p {
    color: #ffffff;
    padding: 1em;
}

/************************************************************* Footer ********************************************************/

footer {
    background-color: #0c2d72;
    color: #ffffff;
    padding: 0.5em;
    text-align: center;
}